<div class="card relative gap-5 mx-5 md:px-10">
  <div class="blurred-backdrop rounded-2xl" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <h4 class="text-center">Log in</h4>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-y-3">
      <app-labeled-input
        [id]="'login-email'"
        label="Email"
        formControlName="email"
        [errorMessage]="emailErrorMessage"
      ></app-labeled-input>

      <app-labeled-input
        [id]="'login-password'"
        type="password"
        label="Password"
        formControlName="password"
        [errorMessage]="passwordErrorMessage"
      ></app-labeled-input>
    </div>

    <div class="flex justify-end mt-6">
      <p>
        Don't have an account? Create one
        <a
          class="underline hover:opacity-80 transition-all"
          [routerLink]="'/' + path.Register"
          >here</a
        >!
      </p>
    </div>

    <div class="flex flex-row gap-5 justify-between mt-6">
      <a
        class="btn btn-secondary whitespace-nowrap flex-1"
        [routerLink]="'/' + path.ChooseOption"
        >Go back</a
      >

      <button
        class="btn enabled:btn-primary disabled:btn-disabled whitespace-nowrap flex-1"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Log in
      </button>
    </div>
  </form>
</div>
