<dialog
  #menuDialog
  class="transition-all w-80 mt-0 rounded-bl-2xl"
  [ngClass]="{ isOpen }"
  (click)="onClose($event)"
>
  <div class="flex flex-col items-center p-1 pb-6">
    <button
      class="bg-white p-3 transition-colors hover:bg-primary-100 rounded-full self-end"
      (click)="closeDialog()"
    >
      <app-close-icon></app-close-icon>
    </button>

    <p class="w-fit whitespace-nowrap" *ngIf="!(userEmail | async)">
      You are not logged in.
    </p>

    <p class="w-fit whitespace-nowrap" *ngIf="userEmail | async">
      Welcome, <span class="font-bold">{{ userEmail | async }}</span>
    </p>

    <button
      class="btn btn-primary mt-3 whitespace-nowrap"
      (click)="closeDialog(logIn)"
      *ngIf="!(userEmail | async)"
    >
      Log in
    </button>

    <button
      class="btn btn-primary mt-3 whitespace-nowrap"
      (click)="closeDialog(logOut)"
      *ngIf="userEmail | async"
    >
      Log out
    </button>
  </div>
</dialog>
