<div class="h-full w-full flex justify-center items-center">
  <div class="w-80 flex flex-col items-center">
    <h1
      class="text-6xl font-bold text-sky-900"
      style="font-variant: small-caps"
    >
      Rebalancer
    </h1>
    <h5 class="text-l font-bold text-sky-900">by Adrian Heidenreich</h5>

    <p class="text-l text-center text-sky-900 mt-8">
      A simple tool to display your investments portfolio, so you can easily
      tell, if rebalancing is needed
    </p>

    <app-styled-button class="mt-8" title="Start!"></app-styled-button>
  </div>
</div>
