<app-content-container header="Your portfolio" class="w-full h-full flex">
  <div
    class="flex flex-col flex-1 justify-center items-center pb-20"
    *ngIf="((assets$ | async) || []).length === 0"
  >
    <h6>You don't have any assets yet.</h6>

    <a class="btn btn-primary mt-5" [routerLink]="'/' + path.NewAsset"
      >Add new asset!</a
    >
  </div>

  <div *ngIf="((assets$ | async) || []).length > 0">
    <app-chart
      class="flex flex-1 flex-col md:flex-row justify-start items-center md:px-5 py-5 overflow-x-hidden"
    ></app-chart>
    <app-fab></app-fab>
  </div>
</app-content-container>
