<div class="card relative gap-5 mx-5 md:px-10">
  <div class="blurred-backdrop rounded-2xl" *ngIf="isLoading$ | async">
    <app-loader></app-loader>
  </div>

  <h4 class="text-center">Register</h4>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-y-3">
      <app-labeled-input
        [id]="'register-email'"
        label="Email"
        formControlName="email"
        [errorMessage]="emailErrorMessage"
        [focus]="true"
      ></app-labeled-input>

      <app-labeled-input
        [id]="'register-password'"
        type="password"
        label="Password"
        formControlName="password"
        [errorMessage]="passwordErrorMessage"
      ></app-labeled-input>

      <app-labeled-input
        [id]="'register-confirm'"
        type="password"
        label="Confirm password"
        formControlName="confirm"
        [errorMessage]="confirmErrorMessage"
      ></app-labeled-input>
    </div>

    <div class="flex flex-row gap-5 justify-between mt-10">
      <a
        class="btn btn-secondary whitespace-nowrap flex-1"
        [routerLink]="'/' + path.ChooseOption"
        >Go back</a
      >
      <button
        class="btn enabled:btn-primary disabled:btn-disabled whitespace-nowrap flex-1"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Create account!
      </button>
    </div>
  </form>
</div>
