<div
  class="card relative p-0 m-0 rounded-none flex-1 xl:my-10 xl:mx-64 xl:rounded-2xl"
>
  <div
    class="relative flex justify-center items-center border-b border-b-primary-900 p-2 shadow-container xl:shadow-none xl:mx-5"
  >
    <h4>{{ header }}</h4>
    <app-menu-button class="block absolute right-2 xl:hidden"></app-menu-button>
  </div>

  <ng-content></ng-content>
</div>

<app-menu-button class="hidden absolute right-0 xl:block"></app-menu-button>

<app-menu-dialog></app-menu-dialog>

<app-refresh-token-dialog></app-refresh-token-dialog>
