<div
  class="card p-0 m-0 rounded-none flex-1 xl:my-10 xl:mx-64 xl:px-5 xl:rounded-2xl"
>
  <div
    class="relative flex justify-center items-center border-b border-b-primary-900 p-2 shadow-container xl:shadow-none"
  >
    <h4>{{ header }}</h4>
    <app-menu-button
      class="block absolute right-2 xl:hidden"
      (click)="openDialog()"
    ></app-menu-button>
  </div>

  Content container
</div>

<app-menu-button
  class="hidden absolute right-0 xl:block"
  (click)="openDialog()"
></app-menu-button>

<dialog
  #menuDialog
  [style.marginRight]="dialogIsOpen ? '0' : '-320px'"
  class="transition-all w-80 mt-0 rounded-bl-2xl overflow-hidden"
>
  <div class="flex flex-col items-center p-1 pb-6">
    <button
      class="bg-white p-3 transition-colors hover:bg-primary-100 rounded-full self-end"
      (click)="closeDialog()"
    >
      <app-close-icon></app-close-icon>
    </button>

    <p class="w-fit whitespace-nowrap">You are not logged in.</p>

    <a
      class="btn btn-primary mt-3 whitespace-nowrap"
      [routerLink]="'/' + path.Login"
      >Log in</a
    >
  </div>
</dialog>
