<div
  class="card p-0 m-0 rounded-none flex-1 xl:my-10 xl:mx-64 xl:px-5 xl:rounded-2xl"
>
  <div
    class="relative flex justify-center items-center border-b border-b-primary-900 p-2 shadow-container xl:shadow-none"
  >
    <h4>{{ header }}</h4>
    <app-menu-button
      class="block absolute right-2 xl:hidden"
      (click)="openDialog()"
    ></app-menu-button>
  </div>

  Content container
</div>

<app-menu-button
  class="hidden absolute right-0 xl:block"
  (click)="openDialog()"
></app-menu-button>

<app-menu-dialog
  [isOpen]="dialogIsOpen"
  (closeEvent)="handleClose()"
></app-menu-dialog>
