/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: small;
}

@media (min-width: 768px) {
	html {
		font-size: medium;
	}
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

router-outlet+* {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	/* Inputs */
	input {
		border-color: theme('colors.primary.900');
		border-width: theme('borderWidth.DEFAULT');
		border-radius: 5px;
		padding-inline: theme('spacing.5');
		padding-block: theme('spacing.2');
	}

	/* Typography */
	p {
		color: theme('colors.primary.900')
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: theme('colors.primary.900');
		font-weight: theme('fontWeight.bold');
	}

	h1 {
		font-size: theme('fontSize.6xl');
		line-height: theme('lineHeight.none');
		font-variant: small-caps;
	}

	h4 {
		font-size: theme('fontSize.2xl');
	}

	h5 {
		font-size: theme('fontSize.xl');
	}
}

@layer components {

	/* Buttons */
	.btn {
		padding-inline: theme('spacing.7');
		padding-block: theme('spacing.2');
		border-radius: theme('spacing[1.5]');
		text-align: center;
		box-sizing: border-box;
		border-color: theme('colors.primary.900');
		border-width: theme('borderWidth.DEFAULT');
		border-style: solid;
		transition-property: theme('transitionProperty.all');
		transition-duration: theme('transitionDuration.200');
	}

	.btn-disabled {
		background-color: theme('colors.disabled.background');
		color: theme('colors.disabled.text')
	}

	.btn-disabled:hover {
		cursor: not-allowed
	}

	.fab {
		padding: theme('spacing.4');
		border-radius: theme('borderRadius.full');
		transition-property: theme('transitionProperty.all');
		transition-duration: theme('transitionDuration.200');
		background-color: theme('colors.primary.900');
		color: theme('colors.white');
		box-shadow: theme('dropShadow.fab')
	}

	.btn:hover,
	.fab:hover {
		cursor: pointer;
	}

	.fab:hover {
		background-color: theme('colors.primary.950');
	}

	.btn-primary:not([disabled]) {
		background-color: theme('colors.primary.900');
		color: theme('colors.white');
	}

	.btn-primary:hover:not([disabled]) {
		background-color: theme('colors.primary.950');
		box-shadow: theme('boxShadow.btnPrimary');
	}

	.btn-secondary:not([disabled]) {
		background-color: theme('colors.white');
		color: theme('colors.primary.900');
	}

	.btn-secondary:hover:not([disabled]) {
		background-color: theme('colors.primary.900');
		box-shadow: theme('boxShadow.btnPrimary');
		color: theme('colors.white')
	}

	/* Containers */
	.card {
		background-color: theme('colors.white');
		color: theme('colors.primary.900');
		border-radius: theme('spacing.4');
		box-shadow: theme('boxShadow.container');
		padding-inline: theme('spacing.5');
		padding-block: theme('spacing.10');
		display: flex;
		flex-direction: column
	}

	.snackbar {
		background-color: theme('colors.primary.900');
		border-radius: theme('spacing[1.5]');
		box-shadow: theme('boxShadow.btnPrimary');
		padding-inline: theme('spacing.4');
		display: flex;
		justify-content: space-between;
		transition-property: theme('transitionProperty.all');
		transition-duration: theme('transitionDuration.200');
	}

	.snackbar:hover {
		cursor: pointer;
		background-color: theme('colors.primary.950');
	}

	.blurred-backdrop {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		backdrop-filter: blur(theme('backdropBlur.md'));
	}

	/* Inputs */
	.input-invalid {
		border-color: theme('colors.warning.main');
		color: theme('colors.warning.main')
	}
}

@layer utilities {
	@keyframes flip {

		0%,
		100% {
			transform: rotateY(0);
			color: theme('colors.primary.500');
		}

		50% {
			transform: rotateY(180deg);
			color: theme('colors.primary.900');
		}
	}

	.animate-flip {
		animation: flip 1s infinite linear;
	}
}